<div class="{{cssClass}} flexcol">
    {{!-- Sheet Header --}}
    <header class="sheet-header directrice-header">
        <div class="header-fields">
            <div class="resources flex">
                <div class="resource flex-group-center situation">
                    <label class="resource-label">{{localize "MINUIT.Directrice.points_tension"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <button type="button" class="tension" data-action="tensionMinus"><i class="fas fa-minus-square"></i></button>
                        <input type="number" name="system.tension" value="{{actor.system.tension}}" data-dtype="Number" style="margin: 0px 10px;"/>
                        <button type="button" class="tension" data-action="tensionPlus"><i class="fas fa-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body directrice-body">
        <h2>{{localize "MINUIT.Directrice.notes"}}</h2>
        <textarea class="notes-textarea" name="system.notes" title="{{localize "MINUIT.Directrice.notes"}}" data-dtype="String">{{actor.system.notes}}</textarea>
    </section>
</div>
