<div class="{{cssClass}} flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab active" data-group="primary" data-tab="description">
            <h2>{{localize "MINUIT.Possession.description"}}</h2>
            <textarea name="system.description" rows="10" data-dtype="String" style="width: 100%;">{{item.system.description}}</textarea>
        </div>
    </section>
</div>
